<div class="page-meta">
	<p>
	{% if page.date %}
		{% if page.modified %}
			<i class="fa fa-clock-o"></i> <time datetime="{{ page.modified | date: "%Y-%m-%dT%H:%M:%SZ" }}" itemprop="dateModified">{{ page.modified | date: "%B %d, %Y" }}</time>
		{% else %}
			<i class="fa fa-clock-o"></i> <time datetime="{{ page.date | date: "%Y-%m-%dT%H:%M:%SZ" }}" itemprop="datePublished">{{ page.date | date: "%B %d, %Y" }}</time>
		{% endif %}
	{% endif %}
	{% if page.categories %}
		{% assign cat_exists = false %}
		{% assign subcat_exists = false %}
		
		{% capture category_url %}/{{ page.categories | first }}/{% endcapture %}
		{% capture subcategory_url %}/{{ page.categories | first }}/{{ page.subcategory }}/{% endcapture %}
		{% for page in site.html_pages %}
			{% if page.url == category_url %}
				{% assign cat_exists = true %}
			{% endif %}
			{% if page.url == subcategory_url %}
				{% assign subcat_exists = true %}
			{% endif %}
		{% endfor %}

		</br>
		<i class="fa fa-folder-open"></i>&nbsp;
		{% if cat_exists %}
			<a href="{{ site.url }}{{ category_url }}" itemprop="url">
		{% endif %}
		{{ page.categories | array_to_sentence_string }}
		{% if cat_exists %}
			</a>
		{% endif %}
		{% if page.subcategory %}
			&nbsp;<i class="fa fa-long-arrow-right"></i>&nbsp;
			{% if subcat_exists %}
				<a href="{{ site.url }}{{ subcategory_url }}" itemprop="url">
			{% endif %}
			{{ page.subcategory }}
			{% if subcat_exists %}
				</a>
			{% endif %}
		{% endif %}
	{% endif %}
	{% if page.tags %}
		</br>
		<i class="fa fa-tags"></i> {{ page.tags | array_to_sentence_string }}
	{% endif %}
	</p>
</div><!-- /.page-meta -->