	<article class="wrap" itemscope itemtype="http://schema.org/Article">
		<div class="page-title">
			<a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}" ><h3>{{ post.title }}</h3></a>
		</div>
		<div class="inner-wrap">
			<div class="page-content" itemprop="articleBody">
				{% if post.image.teaser %}
					<img src="{{ site.url }}/images/{{ post.image.teaser }}" class="post-teaser-image {% if post.image.position %}image-{{ post.image.position }}{% else %}image-left{% endif %}" alt="{{ post.title }}" itemprop="image">
				{% endif %}
				{% if post.content contains '<!-- more -->' %}
					{{ post.excerpt }}
					<p><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}" >Read More...</a></p>
				{% else %}
					{{ post.content }}
				{% endif %}
			</div><!-- /.content -->
		</div><!-- /.inner-wrap -->
		<div class="sidebar">
			{% assign page = post %}
			{% include page-meta.html %}
		</div><!-- /.sidebar -->

	</article><!-- ./wrap -->
