.image-left {
  display: block;
  margin-left: auto;
  margin-right: auto;
  @include media($medium) {
    float: left;
    margin-right: $gutter;
    margin-bottom: $gutter;
    max-width: 300px;
  }
}

.post-footer {
	clear: both;
	margin-top: .5em;
}

.archive-excerpt {
	@include font-size(14,no);
	font-family: $alt-font;
	font-style: italic;
}

.archive-meta {
	@include font-size(12,no);
	font-family: $alt-font;
	color: lighten($black,60);
}


.pagination {
	margin-top: 1em;
	text-align: center;
	@include font-size(14,no);
	font-family: $alt-font;
	.page_number{
		color: lighten($black,60);
	}
}

.tiles {
	@include clearfix;
}

.video {
	max-width: 560px;
}

.sidebar {
	@include media($medium) {
		@include span-columns(3);
	}
}

#main {
	@include direction-context(right-to-left) {
		.portfolio-wrap {
			@include media($medium) {
				@include span-columns(9);
			}
		}
	}
	@include direction-context(right-to-left) {
		.sidebar-wrap {
			@include media($medium) {
				@include span-columns(3);
			}
		}
	}
}