RewriteEngine on
RewriteBase /
RewriteRule ^dance/$ http://unsquare.com/blog/ [R=301,L]
RewriteRule ^dance/2014/04/01/twitterfiction-april-fools-jokes/$ http://unsquare.com/portfolio/writing/april-fools-jokes/ [R=301,L]
RewriteRule ^dance/(.*)$ http://old.unsquare.com/dance/$1 [R=301]
RewriteRule ^cathedral/(.*)$ http://old.unsquare.com/cathedral/$1 [R=301]

RewriteCond %{REQUEST_URI} !^/portfolio/writing/*
RewriteRule ^portfolio/(.*)$ http://unsquare.com/portfolio/writing/$1 [R=301]

Options -Indexes

ErrorDocument 404 /404.html
ErrorDocument 403 /403.html
ErrorDocument 500 /500.html

<ifModule mod_headers.c>
# Turn on Expires and set default expires to 3 days
ExpiresActive On
ExpiresDefault A259200

# Set up caching on media files for 1 month
<filesMatch ".(ico|gif|jpg|jpeg|png|flv|pdf|swf|mov|mp3|wmv|ppt)$">
ExpiresDefault A2419200
Header append Cache-Control "public"
</filesMatch>

# Set up 2 Hour caching on commonly updated files
<filesMatch ".(xml|txt|html|js|css)$">
ExpiresDefault A7200
Header append Cache-Control "private, must-revalidate"
</filesMatch>

</ifModule>